html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px; /* set to height of footer plus a little bit so stuff doesn't butt up right against it. */
}

.blog-post {
	display: block;
	width: 100%;
	margin-bottom: 14px !important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .float-right-md-lg {
    float: right !important;
  }
}

.navbar .navbar-toggle {
    border-color: #6aa489;
}

.navbar button.navbar-toggle:active {
    background-color: #ccc;
}

.navbar .navbar-toggle, .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {    
    background-color: #ddd;
}

.navbar .collapsed, .navbar .collapsed:hover, .navbar .collapsed:focus {
    background-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #7fb199;
}

.footer {
	text-align: center;
	background-color: #7fb199;
	color: #fff;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;	
	margin-top: 35px;    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer p {
	margin: 0px;
	padding: 0px;
}

/*temporary styles for support lab */
#volunteernow {
    border-color: white;
    background-color: #7fb199;
    margin: 5px
}

#volunteeralert {
    background-color: transparent;
    border-color: #7fb199;
    color: black
}

#schedule-img {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #7fb199;
}

/* styles to align social media buttons */
.fb-follow {
    float: left;
    margin-right: 10px
}

.twitter-follow-button {
    float: left;
    margin-right: 10px
}

.socialbuttons {
    width: 60%
}
.col-center {
    margin: 0 auto
}
