.blog-post {
	display: block;
	width: 100%;
	margin-bottom: 14px !important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .float-right-md-lg {
    float: right !important;
  }
}

.navbar .navbar-toggle {
    background-color: #fff;
    border-color: #6aa489;
}

.navbar

.navbar .navbar-toggle .icon-bar {
    background-color: #7fb199;
}

.footer {
	text-align: center;
	background-color: #7fb199;
	color: #fff;
	font-size: 14px;
	padding-top: 20px;
	padding-bottom: 20px;
	
	margin-top: 35px;
}

.footer p {
	margin: 0px;
	padding: 0px;
}
