html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 75px; /* set to height of footer plus a little bit so stuff doesn't butt up right against it. */
}

.blog-post {
    display: block;
    width: 100%;
    margin-bottom: 14px !important;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 768px) {
  .float-right-md-lg {
    float: right !important;
  }
}

.navbar .navbar-toggle {
    border-color: #6aa489;
}

.navbar button.navbar-toggle:active {
    background-color: #ccc;
}

.navbar .navbar-toggle, .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
    background-color: #ddd;
}

.navbar .collapsed, .navbar .collapsed:hover, .navbar .collapsed:focus {
    background-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background-color: #7fb199;
}

.footer {
    text-align: center;
    background-color: #7fb199;
    color: #fff;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer p {
    margin: 0px;
    padding: 0px;
}

/*temporary styles for support lab */
#volunteernow {
    border-color: white;
    background-color: #7fb199;
    margin: 5px
}

#volunteeralert {
    background-color: transparent;
    border-color: #7fb199;
    color: black
}

#schedule-img {
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #7fb199;
}
.event {
    display: block;
    padding-left: 30px;
    margin: 10px;
    border-left: 3px solid #ddd;
    color: inherit;
}

a.event {
    transition: border-left 0.3s ease
}

a.event:hover, a.event:active {
    color: inherit;
    text-decoration: none;
    border-left: 3px solid #6aa489;
}

.event h5 {
    font-style: italic;
}

/*Social buttons*/
.socialbuttons a img{
    max-width: 42px;
}

@media (max-width: 768px) {
  .socialbuttons{
      text-align:center;
  }
}

#mc_embed_signup {
    background: #fff;
    clear: left;
}

/* Migrating custom overrides from bootstrap.min.js */
/* Migrating custom overrides from bootstrap.min.js */
 .navbar-default {
     background-color:#7fb199;
     border-color:#6aa489;
}
 .navbar-default .navbar-brand {
     color:#fff
}
 .navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus{
     color:#fff;
     background-color:transparent;
}
 .navbar-default .navbar-text {
     color:#fff;
}
 .navbar-default .navbar-nav>li>a {
     color:#fff
}
 .navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
     color:#fff;
     background-color:#6aa489;
}
 .navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus {
     color:#fff;
     background-color:#6aa489;
}
 .navbar-default .navbar-collapse,.navbar-default .navbar-form {
     border-color:#6aa489;
}
 .navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
     color:#fff;
     background-color:#6aa489;
}
 .navbar-default .navbar-link {
     color:#fff;
}
 .navbar-default .navbar-link:hover {
     color:#fff;
}
 .navbar-default .btn-link {
     color:#fff;
}
 .navbar-default .btn-link:hover,.navbar-default .btn-link:focus {
     color:#fff;
}
 @media (max-width:767px){
     .navbar-default .navbar-nav .open .dropdown-menu>li>a {
         color:#fff;
    }
     .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
         color:#fff;
         background-color:#6aa489;
    }
     .navbar-default .navbar-nav .open .dropdown-menu>.active>a,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus{
         color:#fff;
         background-color:#6aa489;
    }
}
