<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ page.title }} - TRUSU Computer Science Club</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ekko-lightbox.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index.html">TRUSU Computer Science Club</a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li {% if page.active == "home" %} class="active" {% endif %}>
                        <a href="/index.html">Home</a>
                    </li>
                    <li {% if page.active == "about" %} class="active" {% endif %}>
                        <a href="/about.html">About</a>
                    </li>
                    <li {% if page.active == "elections" %} class="active" {% endif %}>
                        <a href="/elections.html">Elections</a>
                    </li>
                    <li {% if page.active == "events" %} class="active" {% endif %}>
                        <a href="/events.html">Events</a>
                    </li>
                    <li {% if page.active == "chatroom" %} class="active" {% endif %}>
                        <a href="/discord/index.html">Discord</a>
                    </li>
                    <li {% if page.active == "support" %} class="active" {% endif %}>
                        <a href="/support.html">Support Lab</a>
                    </li>
                    <li {% if page.active == "faq" %} class="active" {% endif %}>
                        <a href="/faq.html">Student FAQ</a>
                    </li>
                    <li {% if page.active == "software" %} class="active" {% endif %}>
                        <a href="/software.html">Software</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-7 float-right-md-lg">
                {{ content }}
            </div>
            <div class="col-sm-4">
                <aside id="text-2" class="widget widget_text">
                    <div class="textwidget">
                        <img src="/img/logo.png" style="width:75%; margin:auto; display:block;">
                    </div>
                </aside>

                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//trucsclub.us7.list-manage.com/subscribe/post?u=0fdd1a326517787271a19d50e&amp;id=8c0f896303" method="post"
                        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <h3 class="widget-title">Become a member!</h3>
                            <div class="indicates-required">
                                <span class="asterisk">*</span> indicates required</div>
                            <div class="mc-field-group">
                                <label for="mce-EMAIL">Email Address
                                    <span class="asterisk">*</span>
                                </label>
                                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-FNAME">First Name </label>
                                <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                            </div>
                            <div class="mc-field-group">
                                <label for="mce-LNAME">Last Name </label>
                                <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_0fdd1a326517787271a19d50e_8c0f896303" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->

                <aside id="reallysimpletwitterwidget-2" class="widget widget_reallysimpletwitterwidget">
                    <h3 class="widget-title">Stay Connected!</h3>
                    <div class="socialbuttons">
                        <a href="https://www.facebook.com/pages/TRUSU-Computer-Science-Club/343428029131317" alt="Facebook"><img src="/img/Facebook.png" /></a>
                        <a href="https://twitter.com/trucsclub" alt="Twitter"><img src="/img/Twitter.png" /></a>
                        <a href="https://www.instagram.com/trusucsclub/" alt="Instagram"><img src="/img/Instagram.png" /></a>
                        <a href="https://snapchat.com/add/trucsclub" alt="Snapchat"><img src="/img/Snapchat.png" /></a>
                        <a href="https://discord.gg/WcTbKch" alt="Discord"><img src="/img/Discord.png" /></a>
                        <a href="https://github.com/trucsclub" alt="Github"><img src="/img/Github.png" /></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div>
            Copyright &copy; 2023 TRUSU Computer Science Club.
        </div>
        <div>
            GitHub Pages rock!!
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/ekko-lightbox.js"></script>

    <script type="text/javascript">
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
    </script>
</body>

</html>
